
<!-- Snazzy Map Style "Transport London" -->
<div id="map">
  <% content_for :javascripts do %>
    <script type='text/javascript'>

      var mapStyle = [
    {
        "elementType": "labels.text",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#0099cc"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#00314e"
            }
        ]
    },
    {
        "featureType": "transit.line",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#f0f0f0"
            }
        ]
    },
    {
        "featureType": "landscape.man_made",
        "stylers": [
            {
                "color": "#adbac9"
            }
        ]
    },
    {
        "featureType": "landscape.natural",
        "stylers": [
            {
                "color": "#adb866"
            }
        ]
    },
    {
        "featureType": "poi",
        "stylers": [
            {
                "color": "black"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "stylers": [
            {
                "color": "#adb866"
            }
        ]
    },
    {
        "featureType": "transit.station",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#ff8dd3"
            }
        ]
    },
    {
        "featureType": "transit.station",
        "stylers": [
            {
                "color": "#ff8dd3"
            }
        ]
    },
    {
        "featureType": "transit.line",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#808080"
            }
        ]
    },
    {}
];



 var directionsDisplay = new google.maps.DirectionsRenderer();
  var directionsService = new google.maps.DirectionsService();

  function calcRoute() {

    var origin = new google.maps.LatLng(<%= @routefirst_lat %>,<%= @routefirst_lng %>);
    var destination = new google.maps.LatLng(<%= @routelast_lat %>,<%= @routelast_lng %>);

    var request = {
      origin: origin,
      destination: destination,
      travelMode: google.maps.TravelMode.TRANSIT
    };
    directionsService.route(request, function(result, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(result);
      }
    });
  }

  calcRoute();









      var handler = Gmaps.build('Google');

        handler.buildMap({ 
          internal: {id: 'map'}},
          function(){
        directionsDisplay.setMap(handler.getMap());
        });



          provider: {
          zoom: 16, 
          provider_key: ENV['PLAY_GOOGLE_KEY'],

          mapTypeId: google.maps.MapTypeId.ROADMAP,
          styles: mapStyle //Syncs to Snazzy Map style above
        },
      // }, 
      function(){
          if(navigator.geolocation)
            navigator.geolocation.getCurrentPosition(displayOnMap);

          function displayOnMap(position){
            var marker = handler.addMarker({
              lat: position.coords.latitude,
              lng: position.coords.longitude
            });
            handler.map.centerOn(marker);
          };

          markers = handler.addMarkers([
            <% @routes.each do |b| %>
              <% b.stops.each do |s| %> 
            {
              lat: <%=s.stop_lat %>, // pulls in the latitude for the marker via ERB
              lng: <%=s.stop_lon %>, // pulls in the longitude for the marker via ERB
              infowindow: "<%= s.stop_name %>", // info window text (this is optional)
            },
              <% end %>
            <% end %>
          ]);
          });







    </script>
<% end %> 
</div>






          
      