<h1>Routes#show</h1>
<table>
	<tr>
		<th>ID</th>
		<th>stop_id</th>
		<th>stop_name</th>
		<th>place_query</th>
	</tr>
	<% @route.stops.each do |stop| %>
	<tr>
		<td><%= stop.id %></td>
		<td><%= stop.stop_id %></td>
		<td><%= link_to stop.stop_name, stop_path(stop) %></td>
		<td><a href="<%= stop.place_query %>"><%= stop.place_query %></a></td>
	</tr>
	<% end %>

</table>
