<h1>Hotspots#Show</h1>
<h3>Stops for Hotspot: <%= @hotspot.name %></h3>
<table>
	<tr>
		<th>ID</th>
		<th>stop_id</th>
		<th>stop_name</th>
		<th>stop_lat</th>
		<th>stop_lon</th>
		<th>place query</th>
	</tr>
	<% @stops.each do |stop| %>
	<tr>
		<td><%= stop.id %></td>
		<td><%= stop.stop_id %></td>
		<td><%= stop.stop_name %></td>
		<td><%= stop.stop_lat %></td>
		<td><%= stop.stop_lon %></td>
		<td><%= link_to stop.place_query, hotspot_path(stop) %></td>
	</tr>
	<% end %>

</table>

<%= link_to "Back", :back %> | <%= link_to "All Stops", stops_path %>
