<nav class="top-bar" data-topbar data-options="is_hover: false">
      <ul class="title-area">
        <li class="name">
          <h1><a><%= link_to 'pLAy', root_path %></a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        

              <!-- Dropdown menu bar but may switch out to side navbar -->

              <div class="off-canvas-wrap" data-offcanvas>
              <div class="inner-wrap"> 
                
                <a class="left-off-canvas-toggle">Los Angeles</a>
                
                <aside class="left-off-canvas-menu">
                  <ul>

                    <li class="canvastitle"><a href="#">Transit Routes</a></li>
                    
                    <% @routes.each do |r| %>

                      <li class="route-link" data-start-lat="<%= r.route_stops.first.stop.stop_lat %>"
                        data-start-lon = "<%= r.route_stops.first.stop.stop_lon %>"
                        data-end-lat = "<%= r.route_stops.last.stop.stop_lat %>"
                        data-end-lon = " <%= r.route_stops.last.stop.stop_lon%>"
                        data-name = "<%= r.route_short_name %>"
                        data-id = "<%= r.id %>"
                      >
                        
                        <%= r.route_short_name %><%= r.friendly_name %>
                      
                      </li>
                    
                    <% end %>
                
                  </ul>
              
              </li>

              </aside>
            </div>
            </div>
            <a class="exit-off-canvas"></a> 

            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

    <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <!-- Rdio Player -->
              <div id="apiswf"></div>
                <div style="overflow: hidden;">
                  <div>
                    <div> 
                      <div class="playControls btn-group">
                        <button id="play" class="btn btn-default"><i class="fa fa-play-circle"></i></button>
                        <button id="stop" class="btn btn-default"><i class="fa fa-stop"></i></button>
                        <button id="pause" class="btn btn-default"><i class="fa fa-pause"></i></button>
                        <button id="previous" class="btn btn-default"><i class="fa fa-step-backward"></i></button>
                        <button id="next" class="btn btn-default"><i class="fa fa-step-forward"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="artistAlbumInfo well col-md-6 ">
                    <h3><span id="artist"></span> - <span id="track"></span></h3>
                  </div>
                </div>


              <% if !current_user %>

              <!-- Shows a modal when user clicks Sing In -->
              <li class="active"><a><%= link_to "Sign In", 'new_user_session_path', data: {:'reveal-id' => 'signinModal'} %></a>
                
                <div id="signinModal" class="reveal-modal" data-reveal>

                  <!-- Users Sign In form -->
                  <%= render partial: "users/sessions/new" %>
                  <a class="close-reveal-modal">&#215;</a>
                
                </div>

              </li>
              
              <!-- Shows a modal when user clicks Sing Up -->
              <li class="active"><a><%= link_to "Sign Up", 'new_user_registration_path', data: {:'reveal-id' => 'signupModal'} %></a>
                
                <div id="signupModal" class="reveal-modal" data-reveal>

                  <!-- Users Sign Up form -->
                  <%= render partial: "users/registrations/new" %>
                  <a class="close-reveal-modal">&#215;</a>
                
                </div>

              </li>

              <% else %>
              
              <!-- User Sign Out -->
              <li class="active"><a><%= link_to 'Sign Out', destroy_user_session_path, method: :delete  %></a>

              </li>
              
              <% end %>
              
             <!-- Dropdown menu bar but may switch out to side navbar -->
              
              <li class="has-dropdown">
                
                <a href="#">Routes</a>
                
                  <ul class="dropdown">
                    <% @routes.each do |r| %>

                      <li class="route-link" data-start-lat="<%= r.route_stops.first.stop.stop_lat %>"
                        data-start-lon = "<%= r.route_stops.first.stop.stop_lon %>"
                        data-end-lat = "<%= r.route_stops.last.stop.stop_lat %>"
                        data-end-lon = " <%= r.route_stops.last.stop.stop_lon%>"
                        data-name = "<%= r.route_short_name %>"
                        data-id = "<%= r.id %>"
                        >

                        <%= r.route_short_name %><%= r.friendly_name %>
                      </li>
                    <% end %>
                
                  </ul>
              
              </li>
            </ul>
    </section>
    </nav>